# Ejercicios Básico Python

## Ejercicio 1
### *Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [1]:
Matricula=1816358
Nombre= 'Francisco' 
print(Matricula, Nombre)

1816358 Francisco

## Ejercicio 2
### *Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [14]:
Usuario = input("¿Cómo se llama?")
x = 4
y = 5
Suma = x+y
Resta = x-y
Multiplicación = x*y
División = x/y
Exponente = x**y
print(Suma, Resta, Multiplicación, División, Exponente)

¿Cómo se llama?Eduardo
9 -1 20 0.8 1024

## Ejercicio 3
### *Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [19]:
número= int(input("Introduzca el número: "))
for i in range(1,11):
    resultado = i*número
    print(resultado)

Introduzca el número: 3
3
6
9
12
15
18
21
24
27
30

In [20]:
def sumalista(listaNumeros):
    laSuma = 0
    for i in listaNumeros:
        laSuma = laSuma + i
    return laSuma

print(sumalista([3,6,9,12,15,18,21,24,27,30]))

165

## Ejercicio 4
### *Con una función de if else, revisar si un número es par o es impar.

In [24]:
num = input("Introduce un número: ")
num = int(num)
if num == 0:
    print ("Este número es par.")
elif num%2 == 0:
    print ("Este numero es par")
else:
    print ("Este numero es impar")

Introduce un número: 4
Este numero es par

### *Con una función de if else, revisar si un número es primo o no.

In [28]:
def isPrime(num):
    if num < 1:
        return False
    elif num == 2:
        return True
    else:
        for i in range(2, num):
            if num % i == 0:
                return False
        return True            

def app():
    num = int(input('Escribe un número: '))
    result = isPrime(num)

    if result is True:
        print('El número es primo!!')
    else:
        print('El número NO es primo!!')

if __name__ == '__main__':
    app()
# urrl: https://medium.com/@eddydecena/validando-si-un-n%C3%BAmero-es-primo-en-python-a622cf6b4363

Write a number: 7
The number is prime!!

## Ejercicio 5
### *Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [40]:
# Filename : test.py
# author by : www.w3big.com, http://www.w3big.com/es/python3/python3-calculator.html

def add(x, y):
   """Suma"""

   return x + y

def subtract(x, y):
   """Resta"""

   return x - y

def multiply(x, y):
   """Multiplicación"""

   return x * y

def divide(x, y):
   """División"""

   return x / y

print("Seleccionar operación：")
print("1、Sumar")
print("2、Restar")
print("3、Multiplicación")
print("4、División")

choice = input("Ingrese su elección (1/2/3/4):")

num1 = int(input("Ingrese el primer número: "))
num2 = int(input("Ingrese el segundo número: "))

if choice == '1':
   print(num1,"+",num2,"=", add(num1,num2))

elif choice == '2':
   print(num1,"-",num2,"=", subtract(num1,num2))

elif choice == '3':
   print(num1,"*",num2,"=", multiply(num1,num2))

elif choice == '4':
   print(num1,"/",num2,"=", divide(num1,num2))
else:
   print(num1,"**",num2,"=",exp(num1,num2))

Seleccionar operación：
1、Sumar
2、Restar
3、Multiplicación
4、División
Ingrese su elección (1/2/3/4):2
Ingrese el primer número: 12
Ingrese el segundo número: 12
12 - 12 = 0

## Tuplas___________________________________

#### Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [15]:
type(3.2), type(3), type(True)

(float, int, bool)

In [16]:
complejo = 2.1 + 7.8j
complejo
type(complejo)

complex

#### Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [ ]:
tupla=(1,2,3,4,5,6,7,8,9,10)
tupla

In [ ]:
tupla[1], tupla[9]

#### Añadir 3 valores de string a la tupla.

In [ ]:
tupla=(1,2,3,4,5,6,7,8,9,10, "Edad", "Sexo", "Estatura")
tupla

#### Verificar si una variable existe dentro de la tupla.

In [133]:
type(tupla)

tuple

## Listas_________________________________________________

#### Crear una lista con 40 elementos aleatorios enteros.

In [123]:
import random
print("Ingrese cuantos numeros aleatorios desea obtener")
n=int(input())
aleatoriosOR = [random.randint(1,41) for _ in range(n)]
print(aleatoriosOR)
#[29, 28, 14, 3, 28, 2, 17, 15, 5, 29, 41, 18, 5, 32, 11, 32, 25, 33, 33, 13, 40, 38, 16, 26, 21,
# 18, 12, 36, 24, 6, 20, 14, 36, 11, 32, 3, 3, 15, 14, 21]


#la vvd no supe como detener los numeros aleatorios y anote estos que me salieron al principio y trabaje con ellos.

Ingrese cuantos numeros aleatorios desea obtener
40
[29, 28, 14, 3, 28, 2, 17, 15, 5, 29, 41, 18, 5, 32, 11, 32, 25, 33, 33, 13, 40, 38, 16, 26, 21, 18, 12, 36, 24, 6, 20, 14, 36, 11, 32, 3, 3, 15, 14, 21]

In [151]:
numeroOR=[29, 28, 14, 3, 28, 2, 17, 15, 5, 29, 41, 18, 5, 32, 11, 32, 25, 33, 33, 13,
            40, 38, 16, 26, 21, 18, 12, 36, 24, 6, 20, 14, 36, 11, 32, 3, 3, 15, 14, 21]
len(numeroOR)

40

#### Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [144]:
import random
def listaAleatorios(n):
    lista = []
    for i in range(n):
        lista.insert(i, random.randrange(0, 41,2))
    return lista

print("Ingrese cuantos numeros aleatorios desea obtener")
n = int(input())

aleatoriosPAR = listaAleatorios(n)
print(aleatoriosPAR)

Ingrese cuantos numeros aleatorios desea obtener
40
[32, 2, 4, 40, 18, 0, 8, 32, 0, 34, 14, 18, 2, 18, 0, 20, 28, 10, 14, 32, 10, 0, 2, 30, 22, 32, 18, 14, 6, 22, 8, 38, 2, 12, 24, 28, 38, 22, 18, 18]

22

In [152]:
numerosPar=[28, 14, 28, 2,18,32, 32, 40, 38, 16, 26,18, 12, 36, 24, 6, 20, 14, 36, 32, 14]
len(numerosPar)

21

In [127]:
import random
#IMPARES
def listaAleatorios(n):
    lista = []
    for i in range(n):
        lista.insert(i, random.randrange(1, 41, 2))
    return lista

print("Ingrese cuantos numeros aleatorios desea obtener")
n = int(input())

aleatoriosIMPAR = listaAleatorios(n)
print(aleatoriosIMPAR)

Ingrese cuantos numeros aleatorios desea obtener
40
[37, 37, 31, 21, 25, 5, 17, 15, 19, 25, 23, 15, 21, 15, 23, 9, 33, 27, 33, 19, 5, 23, 7, 35, 11, 21, 25, 3, 25, 11, 25, 31, 25, 3, 11, 27, 15, 13, 13, 3]

In [154]:
numerosIMPAR=[29, 3, 17, 15, 5, 29, 41, 5, 11, 25, 33, 33, 13, 21, 11, 3, 3, 15,21]
len(numerosIMPAR)

19

#### Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [155]:
numerosPar=[28, 14, 28, 2,18,32, 32, 40, 38, 16, 26,18, 12, 36, 24, 6, 20, 14, 36, 32, 14]
len(numerosPar)

21

In [156]:
numerosIMPAR=[29, 3, 17, 15, 5, 29, 41, 5, 11, 25, 33, 33, 13, 21, 11, 3, 3, 15,21]
len(numerosIMPAR)

19

#### Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [161]:
numerosPar=[28, 14, 28, 2,18,32, 32, 40, 38, 16, 26,18, 12, 36, 24, 6, 20, 14, 36, 32, 14]
numerosPar.sort(reverse=True)
numerosPar

[40,
 38,
 36,
 36,
 32,
 32,
 32,
 28,
 28,
 26,
 24,
 20,
 18,
 18,
 16,
 14,
 14,
 14,
 12,
 6,
 2]

In [157]:
numerosIMPAR=[29, 3, 17, 15, 5, 29, 41, 5, 11, 25, 33, 33, 13, 21, 11, 3, 3, 15,21]
numerosIMPAR.sort()
numerosIMPAR

[3, 3, 3, 5, 5, 11, 11, 13, 15, 15, 17, 21, 21, 25, 29, 29, 33, 33, 41]

#### Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [162]:
#1.-Contar 
numeroOR=[29, 28, 14, 3, 28, 2, 17, 15, 5, 29, 41, 18, 5, 32, 11, 32, 25, 33, 33, 13,
            40, 38, 16, 26, 21, 18, 12, 36, 24, 6, 20, 14, 36, 11, 32, 3, 3, 15, 14, 21]
len(numeroOR)

40

In [165]:
#2.- Ordenar menor a mayor
numeroOR=[29, 28, 14, 3, 28, 2, 17, 15, 5, 29, 41, 18, 5, 32, 11, 32, 25, 33, 33, 13,
            40, 38, 16, 26, 21, 18, 12, 36, 24, 6, 20, 14, 36, 11, 32, 3, 3, 15, 14, 21]
numeroOR.sort()
numeroOR

[2,
 3,
 3,
 3,
 5,
 5,
 6,
 11,
 11,
 12,
 13,
 14,
 14,
 14,
 15,
 15,
 16,
 17,
 18,
 18,
 20,
 21,
 21,
 24,
 25,
 26,
 28,
 28,
 29,
 29,
 32,
 32,
 32,
 33,
 33,
 36,
 36,
 38,
 40,
 41]

In [166]:
#3.- Ordenar mayor a menor
numeroOR=[29, 28, 14, 3, 28, 2, 17, 15, 5, 29, 41, 18, 5, 32, 11, 32, 25, 33, 33, 13,
            40, 38, 16, 26, 21, 18, 12, 36, 24, 6, 20, 14, 36, 11, 32, 3, 3, 15, 14, 21]
numeroOR.sort(reverse=True)
numeroOR

[41,
 40,
 38,
 36,
 36,
 33,
 33,
 32,
 32,
 32,
 29,
 29,
 28,
 28,
 26,
 25,
 24,
 21,
 21,
 20,
 18,
 18,
 17,
 16,
 15,
 15,
 14,
 14,
 14,
 13,
 12,
 11,
 11,
 6,
 5,
 5,
 3,
 3,
 3,
 2]

In [169]:
#4.- El valor más grande
valores = [29, 28, 14, 3, 28, 2, 17, 15, 5, 29, 41, 18, 5, 32, 11, 32, 25, 33, 33, 13,
            40, 38, 16, 26, 21, 18, 12, 36, 24, 6, 20, 14, 36, 11, 32, 3, 3, 15, 14, 21]
max_item = max(valores, key=int)
max_item

41

## Diccionarios_________________________________________________

#### Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [90]:
diccionario = dict()
diccionario = [{'nombre':'Francisco', 'edad':20}, {'nombre':'Karyme', 'edad':21}, {'nombre':'Valeria', 'edad':20}, 
               {'nombre':'Vanessa', 'edad':21},{'nombre':'Sofia', 'edad':19},{'nombre':'Claudia', 'edad':24}]
diccionario

[{'nombre': 'Francisco', 'edad': 20},
 {'nombre': 'Karyme', 'edad': 21},
 {'nombre': 'Valeria', 'edad': 20},
 {'nombre': 'Vanessa', 'edad': 21},
 {'nombre': 'Sofia', 'edad': 19},
 {'nombre': 'Claudia', 'edad': 24}]

#### Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [91]:
edades=(20,21,20,21,19,24)
ordenados=sorted(edades)
ordenados

[19, 20, 20, 21, 21, 24]

In [92]:
diccionario_ordenado = [{'nombre':'Sofia', 'edad':19},{'nombre':'Francisco', 'edad':20},{'nombre':'Valeria', 'edad':20},
                        {'nombre':'Karyme', 'edad':21},{'nombre':'Vanessa', 'edad':21},{'nombre':'Claudia', 'edad':24}] 
diccionario_ordenado

[{'nombre': 'Sofia', 'edad': 19},
 {'nombre': 'Francisco', 'edad': 20},
 {'nombre': 'Valeria', 'edad': 20},
 {'nombre': 'Karyme', 'edad': 21},
 {'nombre': 'Vanessa', 'edad': 21},
 {'nombre': 'Claudia', 'edad': 24}]

#### Usando el diccionario y un loop, imprimir solo los nombres.

In [101]:
diccionario1 = ({'nombre1':'Francisco', 'edad':20,'nombre2':'Karyme', 'edad':21, 'nombre3':'Valeria', 'edad':20, 
               'nombre4':'Vanessa', 'edad':21,'nombre5':'Sofia', 'edad':19,'nombre6':'Claudia', 'edad':24})
for v in diccionario1.values():
    print(v)

Francisco
24
Karyme
Valeria
Vanessa
Sofia
Claudia

#### Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [110]:
diccionario1 = {'nombre1':'Francisco', 'edad1':20,'nombre2':'Karyme', 'edad2':21, 'nombre3':'Valeria', 'edad3':20, 
               'nombre4':'Vanessa', 'edad4':21,'nombre5':'Sofia', 'edad5':19,'nombre6':'Claudia', 'edad6':24}
diccionario1['nombre7']='Andrea'
diccionario1['edad7']=20
diccionario1['nombre8']='Daniela'
diccionario1['edad8']=25
diccionario1

{'nombre1': 'Francisco',
 'edad1': 20,
 'nombre2': 'Karyme',
 'edad2': 21,
 'nombre3': 'Valeria',
 'edad3': 20,
 'nombre4': 'Vanessa',
 'edad4': 21,
 'nombre5': 'Sofia',
 'edad5': 19,
 'nombre6': 'Claudia',
 'edad6': 24,
 'nombre7': 'Andrea',
 'edad7': 20,
 'nombre8': 'Daniela',
 'edad8': 25}

## Sets_______________________________________________

#### Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [10]:
import random
for i in range (100):
    print (random.randint(1,25))

12
10
14
11
24
16
13
21
16
6
1
15
14
23
23
4
6
10
18
13
22
5
3
13
16
9
11
10
8
3
20
22
5
6
7
3
8
9
23
23
23
16
12
9
3
15
22
11
20
19
23
15
3
14
18
19
1
13
23
22
5
16
15
14
16
20
19
1
7
3
6
19
3
5
20
22
20
10
21
10
4
25
4
24
3
13
20
19
19
2
6
2
24
2
4
25
4
12
16
7

#### Comprueba la longitud de tu set.

In [11]:
len(range(100))

100

#### Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [12]:
import random
for i in range (5):
    print (random.randrange(1,10)) #[1,8.9,6,7] #Si aparecen los valores en el set inicial

6
8
3
5
3